OpenSim.sln
OpenSim/Addons/Groups/OpenSim.Addons.Groups.csproj
OpenSim/Addons/Groups/OpenSim.Addons.Groups.csproj.user
OpenSim/Addons/Groups/obj/
OpenSim/Addons/OfflineIM/OpenSim.Addons.OfflineIM.csproj
OpenSim/Addons/OfflineIM/OpenSim.Addons.OfflineIM.csproj.user
OpenSim/Addons/OfflineIM/obj/
OpenSim/ApplicationPlugins/LoadRegions/OpenSim.ApplicationPlugins.LoadRegions.csproj
OpenSim/ApplicationPlugins/LoadRegions/OpenSim.ApplicationPlugins.LoadRegions.csproj.user    
OpenSim/ApplicationPlugins/LoadRegions/obj/
OpenSim/ApplicationPlugins/RegionModulesController/OpenSim.ApplicationPlugins.RegionModulesController.csproj
OpenSim/ApplicationPlugins/RegionModulesController/OpenSim.ApplicationPlugins.RegionModulesController.csproj.user
OpenSim/ApplicationPlugins/RegionModulesController/obj/
OpenSim/ApplicationPlugins/RemoteController/OpenSim.ApplicationPlugins.RemoteController.csproj
OpenSim/ApplicationPlugins/RemoteController/OpenSim.ApplicationPlugins.RemoteController.csproj.user
OpenSim/ApplicationPlugins/RemoteController/obj/
OpenSim/Capabilities/Handlers/OpenSim.Capabilities.Handlers.Tests.csproj
OpenSim/Capabilities/Handlers/OpenSim.Capabilities.Handlers.Tests.csproj.user
OpenSim/Capabilities/Handlers/OpenSim.Capabilities.Handlers.csproj
OpenSim/Capabilities/Handlers/OpenSim.Capabilities.Handlers.csproj.user
OpenSim/Capabilities/Handlers/obj/
OpenSim/Capabilities/OpenSim.Capabilities.csproj
OpenSim/Capabilities/OpenSim.Capabilities.csproj.user
OpenSim/Capabilities/obj/
OpenSim/ConsoleClient/OpenSim.ConsoleClient.csproj
OpenSim/ConsoleClient/OpenSim.ConsoleClient.csproj.user
OpenSim/ConsoleClient/obj/
OpenSim/Data/MySQL/OpenSim.Data.MySQL.csproj
OpenSim/Data/MySQL/OpenSim.Data.MySQL.csproj.user
OpenSim/Data/MySQL/obj/
OpenSim/Data/Null/OpenSim.Data.Null.csproj
OpenSim/Data/Null/OpenSim.Data.Null.csproj.user
OpenSim/Data/Null/obj/
OpenSim/Data/OpenSim.Data.csproj
OpenSim/Data/OpenSim.Data.csproj.user
OpenSim/Data/PGSQL/OpenSim.Data.PGSQL.csproj
OpenSim/Data/PGSQL/OpenSim.Data.PGSQL.csproj.user
OpenSim/Data/PGSQL/obj/
OpenSim/Data/SQLite/OpenSim.Data.SQLite.csproj
OpenSim/Data/SQLite/OpenSim.Data.SQLite.csproj.user
OpenSim/Data/SQLite/obj/
OpenSim/Data/Tests/OpenSim.Data.Tests.csproj
OpenSim/Data/Tests/OpenSim.Data.Tests.csproj.user
OpenSim/Data/Tests/obj/
OpenSim/Data/obj/
OpenSim/Framework/AssetLoader/Filesystem/OpenSim.Framework.AssetLoader.Filesystem.csproj     
OpenSim/Framework/AssetLoader/Filesystem/OpenSim.Framework.AssetLoader.Filesystem.csproj.user        OpenSim/Framework/AssetLoader/Filesystem/obj/
OpenSim/Framework/Console/OpenSim.Framework.Console.csproj
OpenSim/Framework/Console/OpenSim.Framework.Console.csproj.user
OpenSim/Framework/Console/obj/
OpenSim/Framework/Monitoring/OpenSim.Framework.Monitoring.csproj
OpenSim/Framework/Monitoring/OpenSim.Framework.Monitoring.csproj.user
OpenSim/Framework/Monitoring/obj/
OpenSim/Framework/OpenSim.Framework.csproj
OpenSim/Framework/OpenSim.Framework.csproj.user
OpenSim/Framework/Serialization/OpenSim.Framework.Serialization.csproj
OpenSim/Framework/Serialization/OpenSim.Framework.Serialization.csproj.user
OpenSim/Framework/Serialization/Tests/OpenSim.Framework.Serialization.Tests.csproj
OpenSim/Framework/Serialization/Tests/OpenSim.Framework.Serialization.Tests.csproj.user      
OpenSim/Framework/Serialization/Tests/obj/
OpenSim/Framework/Serialization/obj/
OpenSim/Framework/Servers/HttpServer/OpenSim.Framework.Servers.HttpServer.csproj
OpenSim/Framework/Servers/HttpServer/OpenSim.Framework.Servers.HttpServer.csproj.user        
OpenSim/Framework/Servers/HttpServer/obj/
OpenSim/Framework/Servers/OpenSim.Framework.Servers.csproj
OpenSim/Framework/Servers/OpenSim.Framework.Servers.csproj.user
OpenSim/Framework/Servers/Tests/OpenSim.Framework.Servers.Tests.csproj
OpenSim/Framework/Servers/Tests/OpenSim.Framework.Servers.Tests.csproj.user
OpenSim/Framework/Servers/Tests/obj/
OpenSim/Framework/Servers/obj/
OpenSim/Framework/Tests/OpenSim.Framework.Tests.csproj
OpenSim/Framework/Tests/OpenSim.Framework.Tests.csproj.user
OpenSim/Framework/Tests/obj/
OpenSim/Framework/obj/
OpenSim/Region/Application/OpenSim.csproj
OpenSim/Region/Application/OpenSim.csproj.user
OpenSim/Region/Application/obj/
OpenSim/Region/ClientStack/Linden/Caps/OpenSim.Region.ClientStack.LindenCaps.Tests.csproj    
OpenSim/Region/ClientStack/Linden/Caps/OpenSim.Region.ClientStack.LindenCaps.Tests.csproj.user
OpenSim/Region/ClientStack/Linden/Caps/OpenSim.Region.ClientStack.LindenCaps.csproj
OpenSim/Region/ClientStack/Linden/Caps/OpenSim.Region.ClientStack.LindenCaps.csproj.user     
OpenSim/Region/ClientStack/Linden/Caps/obj/
OpenSim/Region/ClientStack/Linden/UDP/OpenSim.Region.ClientStack.LindenUDP.csproj
OpenSim/Region/ClientStack/Linden/UDP/OpenSim.Region.ClientStack.LindenUDP.csproj.user       
OpenSim/Region/ClientStack/Linden/UDP/Tests/OpenSim.Region.ClientStack.LindenUDP.Tests.csproj        OpenSim/Region/ClientStack/Linden/UDP/Tests/OpenSim.Region.ClientStack.LindenUDP.Tests.csproj.user
OpenSim/Region/ClientStack/Linden/UDP/Tests/obj/
OpenSim/Region/ClientStack/Linden/UDP/obj/
OpenSim/Region/CoreModules/OpenSim.Region.CoreModules.Tests.csproj
OpenSim/Region/CoreModules/OpenSim.Region.CoreModules.Tests.csproj.user
OpenSim/Region/CoreModules/OpenSim.Region.CoreModules.csproj
OpenSim/Region/CoreModules/OpenSim.Region.CoreModules.csproj.user
OpenSim/Region/CoreModules/obj/
OpenSim/Region/Framework/OpenSim.Region.Framework.Tests.csproj
OpenSim/Region/Framework/OpenSim.Region.Framework.Tests.csproj.user
OpenSim/Region/Framework/OpenSim.Region.Framework.csproj
OpenSim/Region/Framework/OpenSim.Region.Framework.csproj.user
OpenSim/Region/Framework/obj/
OpenSim/Region/OptionalModules/OpenSim.Region.OptionalModules.csproj
OpenSim/Region/OptionalModules/OpenSim.Region.OptionalModules.csproj.user
OpenSim/Region/OptionalModules/obj/
OpenSim/Region/PhysicsModules/BasicPhysics/OpenSim.Region.PhysicsModule.BasicPhysics.csproj  
OpenSim/Region/PhysicsModules/BasicPhysics/OpenSim.Region.PhysicsModule.BasicPhysics.csproj.user
OpenSim/Region/PhysicsModules/BasicPhysics/obj/
OpenSim/Region/PhysicsModules/BulletS/OpenSim.Region.PhysicsModule.BulletS.csproj
OpenSim/Region/PhysicsModules/BulletS/OpenSim.Region.PhysicsModule.BulletS.csproj.user       
OpenSim/Region/PhysicsModules/BulletS/Tests/OpenSim.Region.PhysicsModule.BulletS.Tests.csproj        OpenSim/Region/PhysicsModules/BulletS/Tests/OpenSim.Region.PhysicsModule.BulletS.Tests.csproj.user
OpenSim/Region/PhysicsModules/BulletS/Tests/obj/
OpenSim/Region/PhysicsModules/BulletS/obj/
OpenSim/Region/PhysicsModules/ConvexDecompositionDotNet/OpenSim.Region.PhysicsModules.ConvexDecompositionDotNet.csproj
OpenSim/Region/PhysicsModules/ConvexDecompositionDotNet/OpenSim.Region.PhysicsModules.ConvexDecompositionDotNet.csproj.user
OpenSim/Region/PhysicsModules/ConvexDecompositionDotNet/obj/
OpenSim/Region/PhysicsModules/Meshing/OpenSim.Region.PhysicsModule.Meshing.csproj
OpenSim/Region/PhysicsModules/Meshing/OpenSim.Region.PhysicsModule.Meshing.csproj.user       
OpenSim/Region/PhysicsModules/Meshing/obj/
OpenSim/Region/PhysicsModules/Ode/OpenSim.Region.PhysicsModule.Ode.csproj
OpenSim/Region/PhysicsModules/Ode/OpenSim.Region.PhysicsModule.Ode.csproj.user
OpenSim/Region/PhysicsModules/Ode/Tests/OpenSim.Region.PhysicsModule.Ode.Tests.csproj        
OpenSim/Region/PhysicsModules/Ode/Tests/OpenSim.Region.PhysicsModule.Ode.Tests.csproj.user   
OpenSim/Region/PhysicsModules/Ode/Tests/obj/
OpenSim/Region/PhysicsModules/Ode/obj/
OpenSim/Region/PhysicsModules/POS/OpenSim.Region.PhysicsModule.POS.csproj
OpenSim/Region/PhysicsModules/POS/OpenSim.Region.PhysicsModule.POS.csproj.user
OpenSim/Region/PhysicsModules/POS/obj/
OpenSim/Region/PhysicsModules/SharedBase/OpenSim.Region.PhysicsModules.SharedBase.csproj     
OpenSim/Region/PhysicsModules/SharedBase/OpenSim.Region.PhysicsModules.SharedBase.csproj.user        OpenSim/Region/PhysicsModules/SharedBase/obj/
OpenSim/Region/PhysicsModules/ubOde/OpenSim.Region.PhysicsModule.ubOde.csproj
OpenSim/Region/PhysicsModules/ubOde/OpenSim.Region.PhysicsModule.ubOde.csproj.user
OpenSim/Region/PhysicsModules/ubOde/obj/
OpenSim/Region/PhysicsModules/ubOdeMeshing/OpenSim.Region.PhysicsModule.ubOdeMeshing.csproj  
OpenSim/Region/PhysicsModules/ubOdeMeshing/OpenSim.Region.PhysicsModule.ubOdeMeshing.csproj.user
OpenSim/Region/PhysicsModules/ubOdeMeshing/obj/
OpenSim/Region/ScriptEngine/OpenSim.Region.ScriptEngine.Tests.csproj
OpenSim/Region/ScriptEngine/OpenSim.Region.ScriptEngine.Tests.csproj.user
OpenSim/Region/ScriptEngine/Shared/Api/Implementation/OpenSim.Region.ScriptEngine.Shared.Api.csproj
OpenSim/Region/ScriptEngine/Shared/Api/Implementation/OpenSim.Region.ScriptEngine.Shared.Api.csproj.user
OpenSim/Region/ScriptEngine/Shared/Api/Implementation/obj/
OpenSim/Region/ScriptEngine/Shared/Api/Runtime/OpenSim.Region.ScriptEngine.Shared.Api.Runtime.csproj
OpenSim/Region/ScriptEngine/Shared/Api/Runtime/OpenSim.Region.ScriptEngine.Shared.Api.Runtime.csproj.user
OpenSim/Region/ScriptEngine/Shared/Api/Runtime/obj/
OpenSim/Region/ScriptEngine/Shared/CodeTools/OpenSim.Region.ScriptEngine.Shared.CodeTools.csproj.user
OpenSim/Region/ScriptEngine/Shared/CodeTools/obj/
OpenSim/Region/ScriptEngine/Shared/Instance/OpenSim.Region.ScriptEngine.Shared.Instance.csproj
OpenSim/Region/ScriptEngine/Shared/Instance/OpenSim.Region.ScriptEngine.Shared.Instance.csproj.user
OpenSim/Region/ScriptEngine/Shared/Instance/obj/
OpenSim/Region/ScriptEngine/Shared/OpenSim.Region.ScriptEngine.Shared.csproj
OpenSim/Region/ScriptEngine/Shared/OpenSim.Region.ScriptEngine.Shared.csproj.user
OpenSim/Region/ScriptEngine/Shared/obj/
OpenSim/Region/ScriptEngine/XEngine/Api/Runtime/OpenSim.Region.ScriptEngine.XEngine.Api.Runtime.csproj
OpenSim/Region/ScriptEngine/XEngine/Api/Runtime/OpenSim.Region.ScriptEngine.XEngine.Api.Runtime.csproj.user
OpenSim/Region/ScriptEngine/XEngine/Api/Runtime/obj/
OpenSim/Region/ScriptEngine/XEngine/OpenSim.Region.ScriptEngine.XEngine.csproj
OpenSim/Region/ScriptEngine/XEngine/OpenSim.Region.ScriptEngine.XEngine.csproj.user
OpenSim/Region/ScriptEngine/XEngine/obj/
OpenSim/Region/ScriptEngine/YEngine/OpenSim.Region.ScriptEngine.YEngine.csproj
OpenSim/Region/ScriptEngine/YEngine/OpenSim.Region.ScriptEngine.YEngine.csproj.user
OpenSim/Region/ScriptEngine/YEngine/obj/
OpenSim/Region/ScriptEngine/obj/
OpenSim/Server/Base/OpenSim.Server.Base.csproj
OpenSim/Server/Base/OpenSim.Server.Base.csproj.user
OpenSim/Server/Base/obj/
OpenSim/Server/Handlers/OpenSim.Server.Handlers.Tests.csproj
OpenSim/Server/Handlers/OpenSim.Server.Handlers.Tests.csproj.user
OpenSim/Server/Handlers/OpenSim.Server.Handlers.csproj
OpenSim/Server/Handlers/OpenSim.Server.Handlers.csproj.user
OpenSim/Server/Handlers/obj/
OpenSim/Server/Robust.csproj
OpenSim/Server/Robust.csproj.user
OpenSim/Server/obj/
OpenSim/Services/AssetService/OpenSim.Services.AssetService.csproj
OpenSim/Services/AssetService/OpenSim.Services.AssetService.csproj.user
OpenSim/Services/AssetService/obj/
OpenSim/Services/AuthenticationService/OpenSim.Services.AuthenticationService.csproj
OpenSim/Services/AuthenticationService/OpenSim.Services.AuthenticationService.csproj.user    
OpenSim/Services/AuthenticationService/obj/
OpenSim/Services/AuthorizationService/OpenSim.Services.AuthorizationService.csproj
OpenSim/Services/AuthorizationService/OpenSim.Services.AuthorizationService.csproj.user      
OpenSim/Services/AuthorizationService/obj/
OpenSim/Services/AvatarService/OpenSim.Services.AvatarService.csproj
OpenSim/Services/AvatarService/OpenSim.Services.AvatarService.csproj.user
OpenSim/Services/AvatarService/obj/
OpenSim/Services/Base/OpenSim.Services.Base.csproj
OpenSim/Services/Base/OpenSim.Services.Base.csproj.user
OpenSim/Services/Base/obj/
OpenSim/Services/Connectors/OpenSim.Services.Connectors.csproj
OpenSim/Services/Connectors/OpenSim.Services.Connectors.csproj.user
OpenSim/Services/Connectors/obj/
OpenSim/Services/EstateService/OpenSim.Services.EstateService.csproj
OpenSim/Services/EstateService/OpenSim.Services.EstateService.csproj.user
OpenSim/Services/EstateService/obj/
OpenSim/Services/FSAssetService/OpenSim.Services.FSAssetService.csproj
OpenSim/Services/FSAssetService/OpenSim.Services.FSAssetService.csproj.user
OpenSim/Services/FSAssetService/obj/
OpenSim/Services/FreeswitchService/OpenSim.Services.FreeswitchService.csproj
OpenSim/Services/FreeswitchService/OpenSim.Services.FreeswitchService.csproj.user
OpenSim/Services/FreeswitchService/obj/
OpenSim/Services/Friends/OpenSim.Services.FriendsService.csproj
OpenSim/Services/Friends/OpenSim.Services.FriendsService.csproj.user
OpenSim/Services/Friends/obj/
OpenSim/Services/GridService/OpenSim.Services.GridService.csproj
OpenSim/Services/GridService/OpenSim.Services.GridService.csproj.user
OpenSim/Services/GridService/obj/
OpenSim/Services/HypergridService/OpenSim.Services.HypergridService.csproj
OpenSim/Services/HypergridService/OpenSim.Services.HypergridService.csproj.user
OpenSim/Services/HypergridService/obj/
OpenSim/Services/Interfaces/OpenSim.Services.Interfaces.csproj
OpenSim/Services/Interfaces/OpenSim.Services.Interfaces.csproj.user
OpenSim/Services/Interfaces/obj/
OpenSim/Services/InventoryService/OpenSim.Services.InventoryService.csproj
OpenSim/Services/InventoryService/OpenSim.Services.InventoryService.csproj.user
OpenSim/Services/InventoryService/Tests/OpenSim.Services.InventoryService.Tests.csproj       
OpenSim/Services/InventoryService/Tests/OpenSim.Services.InventoryService.Tests.csproj.user  
OpenSim/Services/InventoryService/Tests/obj/
OpenSim/Services/InventoryService/obj/
OpenSim/Services/LLLoginService/OpenSim.Services.LLLoginService.csproj
OpenSim/Services/LLLoginService/OpenSim.Services.LLLoginService.csproj.user
OpenSim/Services/LLLoginService/obj/
OpenSim/Services/MapImageService/OpenSim.Services.MapImageService.csproj
OpenSim/Services/MapImageService/OpenSim.Services.MapImageService.csproj.user
OpenSim/Services/MapImageService/obj/
OpenSim/Services/MuteListService/OpenSim.Services.MuteListService.csproj
OpenSim/Services/MuteListService/OpenSim.Services.MuteListService.csproj.user
OpenSim/Services/MuteListService/obj/
OpenSim/Services/PresenceService/OpenSim.Services.PresenceService.csproj
OpenSim/Services/PresenceService/OpenSim.Services.PresenceService.csproj.user
OpenSim/Services/PresenceService/obj/
OpenSim/Services/SimulationService/OpenSim.Services.SimulationService.csproj
OpenSim/Services/SimulationService/OpenSim.Services.SimulationService.csproj.user
OpenSim/Services/SimulationService/obj/
OpenSim/Services/UserAccountService/OpenSim.Services.UserAccountService.csproj
OpenSim/Services/UserAccountService/OpenSim.Services.UserAccountService.csproj.user
OpenSim/Services/UserAccountService/obj/
OpenSim/Services/UserProfilesService/OpenSim.Services.UserProfilesService.csproj
OpenSim/Services/UserProfilesService/OpenSim.Services.UserProfilesService.csproj.user        
OpenSim/Services/UserProfilesService/obj/
OpenSim/Tests/Clients/Assets/OpenSim.Tests.Clients.AssetClient.csproj
OpenSim/Tests/Clients/Assets/OpenSim.Tests.Clients.AssetClient.csproj.user
OpenSim/Tests/Clients/Assets/obj/
OpenSim/Tests/Common/OpenSim.Tests.Common.csproj
OpenSim/Tests/Common/OpenSim.Tests.Common.csproj.user
OpenSim/Tests/Common/obj/
OpenSim/Tests/OpenSim.Tests.csproj
OpenSim/Tests/OpenSim.Tests.csproj.user
OpenSim/Tests/Performance/OpenSim.Tests.Performance.csproj
OpenSim/Tests/Performance/OpenSim.Tests.Performance.csproj.user
OpenSim/Tests/Performance/obj/
OpenSim/Tests/Permissions/OpenSim.Tests.Permissions.csproj
OpenSim/Tests/Permissions/OpenSim.Tests.Permissions.csproj.user
OpenSim/Tests/Permissions/obj/
OpenSim/Tests/Robust/Robust.Tests.csproj
OpenSim/Tests/Robust/Robust.Tests.csproj.user
OpenSim/Tests/Robust/obj/
OpenSim/Tests/Stress/OpenSim.Tests.Stress.csproj
OpenSim/Tests/Stress/OpenSim.Tests.Stress.csproj.user
OpenSim/Tests/Stress/obj/
OpenSim/Tests/obj/
OpenSim/Tools/Compiler/OpenSim.Tools.lslc.csproj
OpenSim/Tools/Compiler/OpenSim.Tools.lslc.csproj.user
OpenSim/Tools/Compiler/obj/
OpenSim/Tools/Configger/OpenSim.Tools.Configger.csproj
OpenSim/Tools/Configger/OpenSim.Tools.Configger.csproj.user
OpenSim/Tools/Configger/obj/
OpenSim/Tools/pCampBot/obj/
OpenSim/Tools/pCampBot/pCampBot.csproj
OpenSim/Tools/pCampBot/pCampBot.csproj.user
ThirdParty/SmartThreadPool/SmartThreadPool.csproj
ThirdParty/SmartThreadPool/SmartThreadPool.csproj.user
ThirdParty/SmartThreadPool/obj/
bin/OpenSim.Addons.Groups.dll
bin/OpenSim.Addons.Groups.pdb
bin/OpenSim.Addons.OfflineIM.dll
bin/OpenSim.Addons.OfflineIM.pdb
bin/OpenSim.ApplicationPlugins.LoadRegions.dll
bin/OpenSim.ApplicationPlugins.LoadRegions.pdb
bin/OpenSim.ApplicationPlugins.RegionModulesController.dll
bin/OpenSim.ApplicationPlugins.RegionModulesController.pdb
bin/OpenSim.ApplicationPlugins.RemoteController.dll
bin/OpenSim.ApplicationPlugins.RemoteController.pdb
bin/OpenSim.Capabilities.Handlers.Tests.dll
bin/OpenSim.Capabilities.Handlers.Tests.pdb
bin/OpenSim.Capabilities.Handlers.dll
bin/OpenSim.Capabilities.Handlers.pdb
bin/OpenSim.Capabilities.dll
bin/OpenSim.Capabilities.pdb
bin/OpenSim.ConsoleClient.exe
bin/OpenSim.ConsoleClient.pdb
bin/OpenSim.Data.MySQL.dll
bin/OpenSim.Data.MySQL.pdb
bin/OpenSim.Data.Null.dll
bin/OpenSim.Data.Null.pdb
bin/OpenSim.Data.PGSQL.dll
bin/OpenSim.Data.PGSQL.pdb
bin/OpenSim.Data.SQLite.dll
bin/OpenSim.Data.SQLite.pdb
bin/OpenSim.Data.Tests.dll
bin/OpenSim.Data.Tests.pdb
bin/OpenSim.Data.dll
bin/OpenSim.Data.pdb
bin/OpenSim.Framework.AssetLoader.Filesystem.dll
bin/OpenSim.Framework.AssetLoader.Filesystem.pdb
bin/OpenSim.Framework.Console.dll
bin/OpenSim.Framework.Console.pdb
bin/OpenSim.Framework.Monitoring.dll
bin/OpenSim.Framework.Monitoring.pdb
bin/OpenSim.Framework.Serialization.Tests.dll
bin/OpenSim.Framework.Serialization.Tests.pdb
bin/OpenSim.Framework.Serialization.dll
bin/OpenSim.Framework.Serialization.pdb
bin/OpenSim.Framework.Servers.HttpServer.dll
bin/OpenSim.Framework.Servers.HttpServer.pdb
bin/OpenSim.Framework.Servers.Tests.dll
bin/OpenSim.Framework.Servers.Tests.pdb
bin/OpenSim.Framework.Servers.dll
bin/OpenSim.Framework.Servers.pdb
bin/OpenSim.Framework.Tests.dll
bin/OpenSim.Framework.Tests.pdb
bin/OpenSim.Framework.dll
bin/OpenSim.Framework.pdb
bin/OpenSim.Region.ClientStack.LindenCaps.Tests.dll
bin/OpenSim.Region.ClientStack.LindenCaps.Tests.pdb
bin/OpenSim.Region.ClientStack.LindenCaps.dll
bin/OpenSim.Region.ClientStack.LindenCaps.pdb
bin/OpenSim.Region.ClientStack.LindenUDP.Tests.dll
bin/OpenSim.Region.ClientStack.LindenUDP.Tests.pdb
bin/OpenSim.Region.ClientStack.LindenUDP.dll
bin/OpenSim.Region.ClientStack.LindenUDP.pdb
bin/OpenSim.Region.CoreModules.Tests.dll
bin/OpenSim.Region.CoreModules.Tests.pdb
bin/OpenSim.Region.CoreModules.dll
bin/OpenSim.Region.CoreModules.pdb
bin/OpenSim.Region.Framework.Tests.dll
bin/OpenSim.Region.Framework.Tests.pdb
bin/OpenSim.Region.Framework.dll
bin/OpenSim.Region.Framework.pdb
bin/OpenSim.Region.OptionalModules.dll
bin/OpenSim.Region.OptionalModules.pdb
bin/OpenSim.Region.PhysicsModule.BasicPhysics.dll
bin/OpenSim.Region.PhysicsModule.BasicPhysics.pdb
bin/OpenSim.Region.PhysicsModule.BulletS.Tests.dll
bin/OpenSim.Region.PhysicsModule.BulletS.Tests.pdb
bin/OpenSim.Region.PhysicsModule.BulletS.dll
bin/OpenSim.Region.PhysicsModule.BulletS.pdb
bin/OpenSim.Region.PhysicsModule.Meshing.dll
bin/OpenSim.Region.PhysicsModule.Meshing.pdb
bin/OpenSim.Region.PhysicsModule.Ode.Tests.dll
bin/OpenSim.Region.PhysicsModule.Ode.Tests.pdb
bin/OpenSim.Region.PhysicsModule.Ode.dll
bin/OpenSim.Region.PhysicsModule.Ode.pdb
bin/OpenSim.Region.PhysicsModule.POS.dll
bin/OpenSim.Region.PhysicsModule.POS.pdb
bin/OpenSim.Region.PhysicsModule.ubOde.dll
bin/OpenSim.Region.PhysicsModule.ubOde.pdb
bin/OpenSim.Region.PhysicsModule.ubOdeMeshing.dll
bin/OpenSim.Region.PhysicsModule.ubOdeMeshing.pdb
bin/OpenSim.Region.PhysicsModules.ConvexDecompositionDotNet.dll
bin/OpenSim.Region.PhysicsModules.ConvexDecompositionDotNet.pdb
bin/OpenSim.Region.PhysicsModules.SharedBase.dll
bin/OpenSim.Region.PhysicsModules.SharedBase.pdb
bin/OpenSim.Region.ScriptEngine.Shared.Api.Runtime.dll
bin/OpenSim.Region.ScriptEngine.Shared.Api.Runtime.pdb
bin/OpenSim.Region.ScriptEngine.Shared.Api.dll
bin/OpenSim.Region.ScriptEngine.Shared.Api.pdb
bin/OpenSim.Region.ScriptEngine.Shared.CodeTools.dll
bin/OpenSim.Region.ScriptEngine.Shared.CodeTools.pdb
bin/OpenSim.Region.ScriptEngine.Shared.Instance.dll
bin/OpenSim.Region.ScriptEngine.Shared.Instance.pdb
bin/OpenSim.Region.ScriptEngine.Shared.dll
bin/OpenSim.Region.ScriptEngine.Shared.pdb
bin/OpenSim.Region.ScriptEngine.Tests.dll
bin/OpenSim.Region.ScriptEngine.Tests.pdb
bin/OpenSim.Region.ScriptEngine.XEngine.Api.Runtime.dll
bin/OpenSim.Region.ScriptEngine.XEngine.Api.Runtime.pdb
bin/OpenSim.Region.ScriptEngine.XEngine.dll
bin/OpenSim.Region.ScriptEngine.XEngine.pdb
bin/OpenSim.Region.ScriptEngine.YEngine.dll
bin/OpenSim.Region.ScriptEngine.YEngine.pdb
bin/OpenSim.Server.Base.dll
bin/OpenSim.Server.Base.pdb
bin/OpenSim.Server.Handlers.Tests.dll
bin/OpenSim.Server.Handlers.Tests.pdb
bin/OpenSim.Server.Handlers.dll
bin/OpenSim.Server.Handlers.pdb
bin/OpenSim.Services.AssetService.dll
bin/OpenSim.Services.AssetService.pdb
bin/OpenSim.Services.AuthenticationService.dll
bin/OpenSim.Services.AuthenticationService.pdb
bin/OpenSim.Services.AuthorizationService.dll
bin/OpenSim.Services.AuthorizationService.pdb
bin/OpenSim.Services.AvatarService.dll
bin/OpenSim.Services.AvatarService.pdb
bin/OpenSim.Services.Base.dll
bin/OpenSim.Services.Base.pdb
bin/OpenSim.Services.Connectors.dll
bin/OpenSim.Services.Connectors.pdb
bin/OpenSim.Services.EstateService.dll
bin/OpenSim.Services.EstateService.pdb
bin/OpenSim.Services.FSAssetService.dll
bin/OpenSim.Services.FSAssetService.pdb
bin/OpenSim.Services.FreeswitchService.dll
bin/OpenSim.Services.FreeswitchService.pdb
bin/OpenSim.Services.FriendsService.dll
bin/OpenSim.Services.FriendsService.pdb
bin/OpenSim.Services.GridService.dll
bin/OpenSim.Services.GridService.pdb
bin/OpenSim.Services.HypergridService.dll
bin/OpenSim.Services.HypergridService.pdb
bin/OpenSim.Services.Interfaces.dll
bin/OpenSim.Services.Interfaces.pdb
bin/OpenSim.Services.InventoryService.Tests.dll
bin/OpenSim.Services.InventoryService.Tests.pdb
bin/OpenSim.Services.InventoryService.dll
bin/OpenSim.Services.InventoryService.pdb
bin/OpenSim.Services.LLLoginService.dll
bin/OpenSim.Services.LLLoginService.pdb
bin/OpenSim.Services.MapImageService.dll
bin/OpenSim.Services.MapImageService.pdb
bin/OpenSim.Services.MuteListService.dll
bin/OpenSim.Services.MuteListService.pdb
bin/OpenSim.Services.PresenceService.dll
bin/OpenSim.Services.PresenceService.pdb
bin/OpenSim.Services.SimulationService.dll
bin/OpenSim.Services.SimulationService.pdb
bin/OpenSim.Services.UserAccountService.dll
bin/OpenSim.Services.UserAccountService.pdb
bin/OpenSim.Services.UserProfilesService.dll
bin/OpenSim.Services.UserProfilesService.pdb
bin/OpenSim.Tests.Clients.AssetClient.exe
bin/OpenSim.Tests.Clients.AssetClient.pdb
bin/OpenSim.Tests.Common.dll
bin/OpenSim.Tests.Common.pdb
bin/OpenSim.Tests.Performance.dll
bin/OpenSim.Tests.Performance.pdb
bin/OpenSim.Tests.Permissions.dll
bin/OpenSim.Tests.Permissions.pdb
bin/OpenSim.Tests.Stress.dll
bin/OpenSim.Tests.Stress.pdb
bin/OpenSim.Tests.dll
bin/OpenSim.Tests.pdb
bin/OpenSim.Tools.Configger.exe
bin/OpenSim.Tools.Configger.pdb
bin/OpenSim.Tools.lslc.exe
bin/OpenSim.Tools.lslc.pdb
bin/OpenSim.exe
bin/OpenSim.pdb
bin/Robust.Tests.dll
bin/Robust.Tests.pdb
bin/Robust.exe
bin/Robust.pdb
bin/SmartThreadPool.dll
bin/SmartThreadPool.pdb
bin/pCampBot.exe
bin/pCampBot.pdb
compile.bat
OpenSim/Framework/AssetLoader/Filesystem/OpenSim.Framework.AssetLoader.Filesystem.csproj.user
OpenSim/Framework/AssetLoader/Filesystem/obj/
OpenSim/Region/ClientStack/Linden/UDP/Tests/OpenSim.Region.ClientStack.LindenUDP.Tests.csproj
OpenSim/Region/ClientStack/Linden/UDP/Tests/OpenSim.Region.ClientStack.LindenUDP.Tests.csproj.user
OpenSim/Region/PhysicsModules/BulletS/Tests/OpenSim.Region.PhysicsModule.BulletS.Tests.csproj
OpenSim/Region/PhysicsModules/BulletS/Tests/OpenSim.Region.PhysicsModule.BulletS.Tests.csproj.user
OpenSim/Region/PhysicsModules/SharedBase/OpenSim.Region.PhysicsModules.SharedBase.csproj.user
OpenSim/Region/PhysicsModules/SharedBase/obj/
.vs/
Prebuild/src/obj/
bin/Asset.db
bin/OpenSim.db
bin/OpenSim.log
bin/OpenSimConsoleHistory.txt
bin/OpenSimStats.log
bin/Regions/Regions.ini
bin/ScriptEngines/
bin/addin-db-002/
bin/assetcache/
bin/auth.db
bin/avatars.db
bin/friends.db
bin/griduser.db
bin/inventory.db
bin/maptiles/
bin/userprofiles.db
share/32BitLaunch/OpenSim.32BitLaunch/obj/
share/32BitLaunch/Robust.32BitLaunch/obj/
/bin/mel.lsl
/OpenSim/Region/ScriptEngine/Shared/CodeTools/Compiler - backup1
/bin/Python.Runtime.pdb
/bin/Python.Runtime.xml
/OpenSim.sln.cache
